@charset "utf-8";
/* CSS Document */

body {
    padding: 20px;
	position:relative;
}


a {
}

.btn {
	margin-top: 10px;
}

#basic {
	display:block;
	margin-top: 10px;
}

#toTop {
	display:block;
	margin-top: 10px;
}

a:hover {
	
	cursor:pointer;
		
}
#search-form, .form-control {
    margin-bottom: 20px;
}
.cover {
 /*   width: 300px;
    height: 300px;
    display: inline-block;
	*/
    background-size: cover;

}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid green;
}

#year{
 border: 0px; 
 color: #f6931f; 
 font-weight:bold;
}

